# FastText
fasttext==0.9.3

# scikit-learn
scikit-learn==1.3.2

# Pandas
pandas==2.0.3

# NumPy (dependency for scikit-learn and Pandas)
numpy==1.24.4

# SciPy (dependency for scikit-learn)
scipy==1.8.0

# PyThaiNLP (for Thai language processing)
pythainlp==5.0.4

# NLTK (for stop words)
nltk==3.9.1